<div id="skill" class="conteiner-fluid padding-left background-alt">
    <div class="heading d-flex">
        <h2 class="fw-light">Habilidades</h2>
        <!--btn create-->
        <div type="button" class="btn-default btn-create d-flex" routerLink="/nuevaskill" *ngIf="isLogged;">
            <span class="material-icons-round fs-1 rounded-circle align-items-center">
                add_circle
            </span>
        </div>
    </div>
    <div id="">
        <div class="row justify-content-between">
            <div class="col-12 col-md-5 p-3" *ngFor="let skill of skillBack">
                <div class="d-flex font-monospace justify-content-between col-md-9">
                    <h4 class="">{{skill.nombreHab}}</h4>
                    <h4 *ngIf="skill.nombreHab ==null || skill.nombreHab==''">Cargando...</h4>
                    <div class="d-flex " *ngIf="isLogged;">
                        <!--btn edit-->
                        <div type="button" class="btn-default btn-edit d-flex" routerLink="/editskill/{{skill.id}}">
                            <span class="material-icons-round fs-2 rounded-circle align-items-center">
                                drive_file_rename_outline
                            </span>
                        </div>
                        <!--btn remove-->
                        <div type="button" class="btn-default btn-delete d-flex" (click)="delete(skill.id)">
                            <span class="material-icons-round fs-2 rounded-circle align-items-center">
                                remove_circle
                            </span>
                        </div>
                    </div>
                </div>

                <div class="bg-white col-12 col-md-9 placeholder-wave">
                    <div id="colorBarra" class="barraHab placeholder" [style]="skill.nivelHab"></div>
                </div>
            </div>
        </div>
    </div>
</div>