<div id="skill" class="conteiner-fluid padding-left background-alt">
    <div class="heading d-flex">
        <h2 >Habilidades</h2>
        <button type="button" class="btn btn-dark" routerLink="/nuevaskill" *ngIf="isLogged">
            <span class="material-icons-round">
                add_circle
            </span>
         </button>
    </div>
    <div id="/*experience-timeline*/">
        <div class="row justify-content-between" >
            <div class="col-12 col-md-5 p-3"*ngFor="let skill of skillBack">
                <div class="d-flex">
                    <h4>{{skill.nombreHab}}</h4>
                    <div *ngIf="isLogged;">
                        <button class="btn btn-primary" routerLink="/editskill/{{skill.id}}">
                            <span class="material-icons-round">
                                drive_file_rename_outline
                            </span>
                        </button>
                        <button class="btn btn-danger" (click)="delete(skill.id)">
                            <span class="material-icons-round">
                                delete
                            </span>
                        </button>
                    </div>
                </div>
                
                <div class="bg-white col-12 col-md-9 placeholder-wave">
                    <div id="colorBarra" class="barraHab placeholder" [style]="skill.nivelHab" ></div>
                </div>
            </div>
        </div>
    </div>
</div>
