#education h2 {
    color: #374054;
}

.list{
    justify-content: end;
    text-align: start;
}

@media screen and (max-width:767px) {
    .list{
        justify-content: start;
        text-align: start;
        padding: 10px 0px;
    } 
    .celu-img-jus-s-start{
        justify-self: flex-start;
    }
}