<div id="education" class="padding-left background-alt">
    <div class="heading d-flex">
        <h2 class="fw-light">Educación</h2>
        <div type="button" class="btn-default btn-create d-flex" routerLink="/nuevaedu" *ngIf="isLogged;">
            <span class="material-icons-round fs-1 rounded-circle align-items-center">
                add_circle
            </span>
        </div>
    </div>
    <div>

        <div class="conteiner-fluid">
            <div class="row">
                <!--Izq-->
                <div class="col-12 col-md-8">
                    <div class="row">
                        <!-- Directiva para recorrer en el array del json education (IngFor) -->
                        <div class="col-12 p-1" *ngFor="let edu of educacionBack">
                            <article class="card h-100">
                                <div class="card-body">
                                    <div class="descriptionEducation">
                                        <div class="d-flex justify-content-between">

                                            <div class="grid-centrado">
                                                <img *ngIf="edu.imagen!=''" src="{{edu.imagen}}"
                                                    class="border-3 rounded-circles float-start celu-img-jus-s-start" alt="..." width="50px"
                                                    height="50px">
                                                <div class="ps-2">
                                                    <h3>{{edu.nombreEdu}}</h3>
                                                    <span class="education-date">{{edu.fechaInicio}} |
                                                        {{edu.fechaFin}}</span>
                                                </div>
                                            </div>
                                            <div *ngIf="isLogged" class="d-flex">
                                                <!--btn edit-->
                                                <div type="button" class="btn-default btn-edit d-flex"
                                                    routerLink="/editedu/{{edu.id}}">
                                                    <span
                                                        class="material-icons-round fs-1 rounded-circle align-items-center">
                                                        drive_file_rename_outline
                                                    </span>
                                                </div>
                                                <!--btn remove-->
                                                <div type="button" class="btn-default btn-delete d-flex"
                                                    (click)="deleteEdu(edu.id)">
                                                    <span
                                                        class="material-icons-round fs-1 rounded-circle align-items-center">
                                                        remove_circle
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <h4>{{edu.tituloEdu}}</h4>
                                        <ul class="">
                                            <li>
                                                Aprobadas: {{edu.aprobadasEdu}}
                                            </li>
                                            <li>
                                                Promedio: {{edu.promedio}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <!--Der-->
                <div class="col-12 col-md-4 p-1">
                    <article class="card h-100">
                        <div class="card-body">
                            <div class="">
                                <div id="cursos" class="d-flex">
                                    <div class="d-flex font-monospace">
                                        <h4>Cursos</h4>
                                        <div type="button" class="btn-default btn-create d-flex"
                                            routerLink="/nuevocurso" *ngIf="isLogged;">
                                            <span class="material-icons-round fs-2 rounded-circle align-items-center">
                                                add_circle
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <ul id="listaCursos">
                                    <li *ngFor="let course of cursoBack">
                                        <!--Curso-->
                                        <div class="d-flex font-monospace row list">
                                            <div class="col-md-12 col-sm-8">
                                                <a target="_blank" href="//{{course.linkCurso}}">
                                                    {{course.tituloCurso}}
                                                </a> | {{course.nombreCurso}}
                                            </div>
                                            <div class="d-flex font-monospace col justify-content-end">
                                                <div type="button" class="btn-default btn-edit d-flex"
                                                    routerLink="/editcurso/{{course.id}}" *ngIf="isLogged">
                                                    <span
                                                        class="material-icons-round fs-3 rounded-circle align-items-center">
                                                        drive_file_rename_outline
                                                    </span>
                                                </div>
                                                <div type="button" class="btn-default btn-delete d-flex font-monospace"
                                                    (click)="deleteCurso(course.id)" *ngIf="isLogged">
                                                    <span
                                                        class="material-icons-round fs-3 rounded-circle align-items-center">
                                                        remove_circle
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div id="idiomas" class="d-flex ">
                                    <!--Idioma-->
                                    <div class="d-flex font-monospace">
                                        <h4>Idiomas</h4>
                                        <!--btn create-->
                                        <div type="button" class="btn-default btn-create d-flex font-monospace"
                                            routerLink="/nuevoidioma" *ngIf="isLogged;">
                                            <span class="material-icons-round fs-2 rounded-circle align-items-center">
                                                add_circle
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <ul id="listaIdiomas">
                                    <li *ngFor="let idiom of idiomaBack">
                                        <div class="d-flex font-monospace row list">
                                            <div class="col-sm-8">
                                                {{idiom.nombreIdi}} | {{idiom.nivelIdi}}
                                            </div>
                                            <div class="d-flex font-monospace col justify-content-end">
                                                <div type="button" class="btn-default btn-edit d-flex"
                                                    routerLink="/editidioma/{{idiom.id}}" *ngIf="isLogged">
                                                    <span
                                                        class="material-icons-round fs-3 rounded-circle align-items-center">
                                                        drive_file_rename_outline
                                                    </span>
                                                </div>
                                                <div type="button" class="btn-default btn-delete d-flex"
                                                    (click)="deleteIdioma(idiom.id)" *ngIf="isLogged">
                                                    <span
                                                        class="material-icons-round fs-3 rounded-circle align-items-center">
                                                        remove_circle
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>


    </div>
</div>