<div id="about" class="padding-left background-alt pt-3 pb-3">
    <div class="container-fluid" *ngFor="let about of aboutBack">
        <div class="row justify-content-between">
            <div class="col-md-2 ">
                <div class="heading d-flex">
                    <h2 class="d-flex fw-light">Sobre Mí</h2>
                    <!--btn-->
                    <div *ngIf="isLogged;" type="button" class="btn-default btn-edit d-flex"
                        routerLink="/editabout/{{about.id}}">
                        <span class="material-icons-round fs-1 rounded-circle align-items-center">
                            drive_file_rename_outline
                        </span>
                    </div>

                </div>
            </div>
            <!--Imagen e info-->
            <div class="col-md-9">
                <div *ngIf="!about.imagenMi" id="" class="col-md-3 rounded-start fotoPerfil">
                    <!-- <img src="{{about.imagenMi}}" class=" rounded-circles  img-thumbnail"alt="Foto Perfil"> -->
                    <div class="h-100 bg-size-cover border border-4 border-white  rounded-circles"
                        [ngStyle]="{'background-image': 'url('+about.imagenMi+')'}"></div>
                </div>
                <div>
                    <h4 id="nombrePersonal">{{about.nombre}}</h4>
                    <p id="descripcionAbout">
                        {{about.descripcion}}
                    </p>
                </div>

  



            </div>
        </div>
    </div>
</div>