<footer>
    <div id="contactos" class="background-alt bg-dark padding-left">

        <div class="row justify-content-center p-3 pb-5">
            <p>Contactos:</p>
            <div class="col-1 bg-dark ">
                <a target="_blank" href="https://www.instagram.com/len_alonso22/?hl=es-la"><img
                        src="./assets/images/icon/instagram.png" alt="Instagram" width="40px"></a>
            </div>
            <div class="col-1 bg-dark">
                <a target="_blank" href="https://www.linkedin.com/in/leandro-alonso-4369511b4/"><img
                        src="./assets/images/icon/linkedin.png" alt="LinkedIn" width="40px"></a>
            </div>
            <div class="col-1 bg-dark">
                <a target="_blank" href="https://github.com/Lenh22"><img 
                    src="./assets/images/icon/github.png" alt="GitHub" width="40px"></a>
            </div>
        </div>
    </div>
</footer>
