<header class="padding-left">
    <div class="opacity">
        <div>
            <!--logoArgProg y usuario-->
            <div class="row-aling pe-3">
                <div class="col-4">
                    <a target="_blank"
                        href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
                        <img id="ArgProg"
                            src="//argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1648503444/APLogo-20-20.png"
                            alt="argpprod" width="200px"></a>
                </div>
                <div id="centrado" class="col-md-4 fondo">
                    <a (click)="login()" *ngIf="!isLogged">
                        <span class="material-icons-round iconoUsuario" > 
                            <!-- data-bs-toggle="modal" data-bs-target="#login"  CON MODAL-->
                            account_circle
                        </span>
                        <p>Iniciar sesion</p>
                    </a>

                    <a (click)="onLogOut()" *ngIf="isLogged">
                        <span class="material-icons-round iconoUsuario">
                            logout
                        </span>
                        <p>Cerrar sesion</p>
                    </a>
                </div>
            </div>
            <!--presentacion-->
            <div id="bienvenida" class="row align-items-center">
                <div id="saludo" class="col">
                    <i>H</i><i>o</i><i>l</i><i>a</i><i>,</i> <br> <i>s</i><i>o</i><i>y </i> <i>Len</i>
                    <h3>Desarrollador web</h3>
                    <a href="#contactos"><button type="button" class="btn btn-secondary ">Contactos</button></a>
                </div>
                <div id="nubeLluvia" class="col">
                    <div class="text-center centrado-flex">
                        <!-- Gris -->
                        <img src="./assets/images/nubeG.png" class="rounded" alt="Nube" id="nubeGris">
                        <!-- Blanca -->
                        <img src="./assets/images/pacNubeB.png" class="rounded" alt="Nube" id="nubeBlanca">
                        <img src="./assets/images/nubeB.png" class="rounded desvanece" alt="Nube"
                            id="nubeBlanca">
                    </div>
                    <!-- Lluivia matrix -->
                    <div id="lienzo" class="row burbujas">
                        <div class="col-2 efectoCaida burbuja absolute">
                            <p>1</p>
                        </div>
                        <div class="col-2 efectoCaida burbuja absolute">
                            <p>0</p>
                        </div>
                        <div class="col-2 efectoCaida burbuja absolute">
                            <p>1</p>
                        </div>
                        <div class="col-2 efectoCaida burbuja absolute">
                            <p>0</p>
                        </div>
                        <div class="col-2 efectoCaida burbuja absolute">
                            <p>1</p>
                        </div>
                        <div class="col-2 efectoCaida burbuja absolute">
                            <p>1</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
