.pointer{
    cursor: pointer;
}
.font-login{
    transition: .2s;
}
.btn-contact:hover{
    background-color: #6e6124;
    color: white;
    border-color: white;
}
.btn-login{
    transition: .8s;
    opacity: 0;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}
.btn-login:hover{
    opacity: 1;
}