<div id="proyecto" class="background-alt padding-left">
    <div class="heading d-flex">
        <h2 class="fw-light">Proyectos</h2>
        <!--btn create-->
        <div type="button" class="btn-default btn-create d-flex" routerLink="/nuevoproy" *ngIf="isLogged;">
            <span class="material-icons-round fs-1 rounded-circle align-items-center">
                add_circle
            </span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row g-0 justify-content-between">
            <div class="col-md-5 bg-light border mb-3" *ngFor="let project of proyectoBack">
                <div class="p-3">
                    <div id="" class="d-flex font-monospace justify-content-between configProyecto">
                        <div class="ps-2 col-md-9">
                            <img *ngIf="project.imgProj!=''" src="{{project.imgProj}}"
                                class="border border-secondary border-3 rounded-circles float-start" alt="..."
                                width="50px" height="50px">
                            <div class="d-flex font-monospace justify-content-between mr-0">
                                <h3 class="ps-2 row">{{project.nombreProj}}</h3>
                                <div class="d-flex" *ngIf="isLogged;">
                                    <!--btn edit-->
                                    <div type="button" class="btn-default btn-edit d-flex"
                                        routerLink="/editproy/{{project.id}}">
                                        <span class="material-icons-round fs-1 rounded-circle align-items-center">
                                            drive_file_rename_outline
                                        </span>
                                    </div>
                                    <!--btn remove-->
                                    <div type="button" class="btn-default btn-delete d-flex"
                                        (click)="delete(project.id)">
                                        <span class="material-icons-round fs-1 rounded-circle align-items-center">
                                            remove_circle
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <span class="education-date row ps-2">{{project.fechaInicioProj}} |
                                {{project.fechaFinProj}}</span>
                        </div>
                        <a href="//{{project.linkProj}}"  class="btn btn-dark h-min">Más</a>
                    </div>
                    <div class="p-3">
                        {{project.descripcionProj}}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>