<nav>
    <div id="home">
        <div class="encabezado">
            <a class="nav-link active" href="#ArgProg"><span class="material-icons-round iconoIzq">
                    home
                </span></a>

        </div>
    </div>

    <div id="menuizquierda">

        <ul id="opciones" class="list-unstyled">
            <a class="nav-link active" href="#about">
                <span class="material-icons-round iconoIzq">
                    description
                </span></a>
            <a class="nav-link active" href="#experience">
                <span class="material-icons-round iconoIzq">
                    engineering
                </span></a>
                <a class="nav-link active" href="#education">
                    <span class="material-icons-round iconoIzq">
                        school
                    </span></a>
                <a class="nav-link active" href="#skill">
                    <span class="material-icons-round iconoIzq">
                        code
                    </span></a>
                <a class="nav-link active" href="#proyecto">
                    <span class="material-icons-round iconoIzq">
                        work
                    </span></a>
        </ul>
    </div>
</nav>
