<div id="experience" class="background-alt padding-left">
    <div class="heading d-flex">
        <h2 class="fw-light">Experiencias</h2>
        <!--btn create-->
        <div type="button" class="btn-default btn-create d-flex" routerLink="/nuevaexp" *ngIf="isLogged;">
            <span class="material-icons-round fs-1 rounded-circle align-items-center">
                add_circle
            </span>
        </div>
    </div>

    <div id="experience-timeline">
        <div class="vtimeline-point" *ngFor="let exp of experienciaBack">
            <div class="vtimeline-icon">
                <i class="circle">
                </i>
            </div>

            <div class="row-fluid vtimeline-block">
                <p class="vtimeline-date col-12 col-md-4">{{exp.fechaInicio}} | {{exp.fechaFin}}</p>
                <div data-date="September 2015 – September 2016" class="vtimeline-content">
                    <div class="d-flex justify-content-between">
                        <h3 class="font-monospace">{{exp.nombreExp}}</h3>

                        <div *ngIf="isLogged" class="d-flex ">
                            <!--btn edit-->
                            <div type="button" class="btn-default btn-edit d-flex" routerLink="/editexp/{{exp.id}}">
                                <span class="material-icons-round fs-1 rounded-circle align-items-center">
                                    drive_file_rename_outline
                                </span>
                            </div>
                            <!--btn remove-->
                            <div type="button" class="btn-default btn-delete d-flex" (click)="delete(exp.id)">
                                <span class="material-icons-round fs-1 rounded-circle align-items-center">
                                    remove_circle
                                </span>
                            </div>

                        </div>
                    </div>
                    <h4 class="text-start">{{exp.subNombreExp}}</h4>
                    <!-- <ul> <li *ngFor="let homew of homeworkList">{{homew.hw}} </li> </ul> -->
                    <div class="ms-3 d-list-item">
                        <p  class="text-start">{{exp.descripcionExp}}</p>
                        <p *ngIf="exp.nombreExp == null || exp.nombreExp==''" class="text-start">Cargando...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>